.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box {
  display: flex;
  max-width: 1200px;
  height: 500px;
  background-color: rgb(240, 233, 233);
  color: rgb(32, 26, 26);

  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 3px solid rgb(219, 216, 216);
  font-family: sans-serif;

  .imageContainer {
    align-self: center;
    object-position: top;
  }

  .image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    justify-content: center;

    .introName {
      padding-bottom: 30px;
    }
  }
}
