.card {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 700px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  background-color: #1a1a1a;
  overflow: hidden;

  .cardImage {
    margin: 0;
    height: 60%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .cardDescription {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;

    h2 {
      margin: 0;
      text-align: center;
      font-size: 2rem;
      color: #ffffff;
    }

    p {
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.5;
      color: #d1d5db;
    }
  }
}
