.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  gap: 20px;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #fffcf2;

  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    a {
      color: #3a2e39; // default color for all icons (Instagram pink)
      transition: color 0.3s;

      &:hover {
        color: #1e555c; // hover color
      }
    }
  }

  .copyright {
    color: #6c757d;
    margin: 0;
    padding: 0;
  }
}
