
.backgroundColor {
    background-color: rgb(255, 242, 202);
  }

.eventCard {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 200px;
  background-color: rgb(255, 242, 202);

  .title {
    display: flex;
    align-items: flex-start;
    margin-left: 30px;
    height: 100px;
    width: 100%;
  }

  h1 {
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    font-size: 3rem;
  }

  .card {
    margin-top: -50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

