.container {
  border: 1px solid;
  padding: 1rem 0;
  color: var(--color-muted-gray);
}

.stackLayout {
  background-color: blue;
  color: white;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}
