.container {
  // border: 1px solid;
  color: var(--color-muted-gray);
}

.stackLayout {
  background-color: blue;
  color: white;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-family: sans-serif;
  font-size: 15px;
  border-radius: 6px;
}
