// Remember to style your navbar!
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 20px 40px 20px 100px;
  top: 0;
  background-color: #3a2e39;
  transition: background-color 0.3s ease;
  z-index: 3;

  //   &:hover {
  //     background: rgba(6, 6, 6, 1);
  //   }

  span {
    color: #fffcf2;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .dropDown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    width: 150px;
    cursor: pointer;
    text-align: center;
  }

  .items {
    /*display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background: #1e555c;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);*/

    
    color: #fffcf2;
      text-decoration: none;
      padding: 12px 24px;
      border-radius: 4px;
    

    .items:hover {
      text-decoration: underline;
      background-color: #3a2e39;
    }
  }
}
