.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #fffcf2;

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #3a2e39;

    h1 {
      font-size: 3.5rem;

      border-bottom: 3px solid #1e555c;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 600px;

    background-color: #fffcf2;

    // border: solid black;
    border-radius: 20px;
    box-shadow: 0 4px 10px #d6ccc2;

    .item {
      text-align: center;
      color: #3a2e39;
      //   border: solid black;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
        color: #3a2e39;
      }
    }
  }
}
