.horizontal {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    //align-items: left;
}

.verticle {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}