.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  padding: 2rem;
  gap: 4rem;
}

.experienceContrainer {
  display: flex;
  margin: 0 auto;
  max-width: 83.05%;
  justify-content: center;
}

.experienceCard {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  font-family: sans-serif;
}
