.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  padding: 2rem;
  gap: 4rem;
}

.experienceCard {
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  border: 1px solid;
}

.title {
  text-align: center;
}
