.main {
    padding: 3%;
}

.horizontal {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.verticle {
    display: inline-block;
    flex-direction: column;
    //justify-content: left;
}